/*
 * Removes browser default editor border.
 */
.ProseMirror.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/**
 * @prosemirror-adapter/vue: minimize inconvenience from node views.
 */
.ProseMirror div[data-node-view-root] {
    display: flex;
}

/*
 * mdx-plugin.ts: inline mdx expression styles.
 */
.ProseMirror.milkdown-theme-nord p code[data-type="mdxTextExpression"]::before {
    content: "{";
    font-size: xx-small;
}
.ProseMirror.milkdown-theme-nord p code[data-type="mdxTextExpression"]::after {
    content: "}";
    font-size: xx-small;
}
